
.cell{
    position: relative;
    height:33px;
}
/*上侧搜索框样式*/
#Roster_searchByName{
  width: 170px;
  margin-bottom: -10px;
}
/*灰色条 css开始*/
.operate{
    display:none;
    position: absolute;
    width: 100%;
    background: #7F7F7F;
    height: 30px;
    opacity: 0.8;
    bottom: 10px;
}
.operate ul{
    list-style-type: none;
    margin-top: 7px;
}
.operate ul li{
    float: right;
    color: #fff;
    margin-right:20px;
}
 .operate ul li a{
      color: #fff;
      z-index:1000;
 }
  .operate ul li a:hover{
     color: green;
    cursor: pointer;
    z-index:1000;
 }
.operate ul li:hover {
    color: green;
    cursor: pointer;
}
/*灰色条 css结束*/
/*分页 css开始*/
.page>span{
    margin-top: 5px;
    float:left;
    margin-right: 10px;
}
.page>div{
    float:left;
    margin-right: 10px;
}
.page>.input-group{
    width:100px;
}
#firstPage,#previousPage,#nextPage,#lastPage
{
    cursor:pointer;
}
#firstPage.disabled,#previousPage.disabled,#nextPage.disabled,#lastPage.disabled
{
    cursor:default;
}
/*分页 css结束*/
#workStatusChange_modal .dropdown{
    display: inline-block;
}
#workStatusChange_modal .dropdown ul{
    width: 100%;
    min-width: 20px;
}
#workStatusChange_modal .dropdown-toggle{
    border: 1px solid #ddd;
    width: 130px;
    display: inline-block;
    height: 33px;
    padding: 6px 12px;
}
#workStatusChange_modal .input-group{
    width:130px;
}
#workStatusChange_modal .input-group span{
    background: url(../../Images/Roster/date.png) no-repeat;
    background-position: center;
}
#workStatusChange_modal .col-xs-6>span{
    display:inline-block;
    width:70px;
}
#workStatusChange_modal .effectTimeSpan{
    float: left;
    text-align: left;
    margin-top: 5px;
}
/*--------右侧ztree树---------------*/
#catalogue li a span
{
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
