@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <title>获取验证码</title>
</head>
<body>
    <div>
         获取验证码
    </div>
</body>
</html>
