@{
    ViewBag.Title = "AuthManagement";
}

<!-- 本页所需的样式 开始 -->
<link rel="stylesheet" href="../../Styles/SystemSetting/privilegeManage.css"/>
<!-- 本页所需的样式 结束 -->

<!-- 页面内容 开始 -->

<div class="row">
    <div id="dateContainer" class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    权限设置
                    <div class="pull-right">
                        <a href="#privilege_add_modal" data-toggle="modal" data-target="#privilege_transfer_modal">权限转移</a>
                        <a href="#privilege_add_modal" data-toggle="modal" data-target="#privilege_add_modal"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body pos-r">
                <table class="table" id="privilegeInfo">
                    <thead>
                    <tr>
                        <th>角色</th>
                        <th>权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>123456</td>
                        <td>中国建设银行</td>
                        <td>权限 删除</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>中国建设银行</td>
                        <td>权限 删除</td>
                    </tr><tr>
                        <td>123456</td>
                        <td>中国建设银行</td>
                        <td>权限 删除</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层 开始 -->
<div class="modal fade" id="privilege_add_modal" tabindex="-1" role="dialog" aria-labelledby="privilege_add_modal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body" style="min-height: 200px">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" style="text-align: left">权限名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="privilege_add_name">
                        </div>
                    </div>
                    <hr>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="privilege_add_checkall">全部选择
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_add_checkplan">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        计划
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待审核
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            已审批
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="4">
                                            待确认
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="5">
                                            已完成
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_add_checkobject">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        目标
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待审核
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            进行中
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="4">
                                            待确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_add_checkflow">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        流程
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待查阅
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            待审批
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_add_checkdocument">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        文档
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            个人文档
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer fifty-fifty">
                <a class="btn btn-transparency btn-lg" data-dismiss="modal" id="privilege_add_cancel">取消</a>
                <a class="btn btn-transparency btn-lg" id="privilege_add_submit">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privilege_change_modal" tabindex="-1" role="dialog" aria-labelledby="privilege_change_modal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body" style="min-height: 200px">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" style="text-align: left">权限名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="privilege_change_name">
                        </div>
                    </div>
                    <hr>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="privilege_change_checkall">全部选择
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_change_checkplan">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        计划
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待审核
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            已审批
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="4">
                                            待确认
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="5">
                                            已完成
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_change_checkobject">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        目标
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待审核
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            进行中
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="4">
                                            待确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_change_checkflow">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        流程
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            待提交
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2">
                                            待查阅
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3">
                                            待审批
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="checkbox check-con" id="privilege_change_checkdocument">
                                <div class="check-item-type">
                                    <label>
                                        <input type="checkbox">
                                        文档
                                    </label>
                                    <span class="caret"></span>
                                </div>
                                <div class="check-items">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1">
                                            个人文档
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer fifty-fifty">
                <a class="btn btn-transparency btn-lg" data-dismiss="modal" id="privilege_change_cancel">取消</a>
                <a class="btn btn-transparency btn-lg" id="privilege_change_submit">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privilege_transfer_modal" tabindex="-1" role="dialog" aria-labelledby="privilege_transfer_modal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">权限转移</h4>
            </div>
            <div class="modal-body" style="min-height: 200px">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="col-xs-3 control-label" style="text-align: left">输出者</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="privilege_transfer_from">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label class="col-xs-3 control-label" style="text-align: left">接受者</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="privilege_transfer_to">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="privilege_transfer_checkboxs">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="privilege_transfer_checkall">全部选择
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="checkbox check-con" id="privilege_transfer_checkplan">
                                    <div class="check-item-type">
                                        <label>
                                            <input type="checkbox">
                                            计划
                                        </label>
                                        <span class="caret"></span>
                                    </div>
                                    <div class="check-items">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1">
                                                待提交
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2">
                                                待审核
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="3">
                                                已审批
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="4">
                                                待确认
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="5">
                                                已完成
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox check-con" id="privilege_transfer_checkobject">
                                    <div class="check-item-type">
                                        <label>
                                            <input type="checkbox">
                                            目标
                                        </label>
                                        <span class="caret"></span>
                                    </div>
                                    <div class="check-items">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1">
                                                待提交
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2">
                                                待审核
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="3">
                                                进行中
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="4">
                                                待确认
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox check-con" id="privilege_transfer_checkflow">
                                    <div class="check-item-type">
                                        <label>
                                            <input type="checkbox">
                                            流程
                                        </label>
                                        <span class="caret"></span>
                                    </div>
                                    <div class="check-items">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1">
                                                待提交
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2">
                                                待查阅
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="3">
                                                待审批
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox check-con" id="privilege_transfer_checkdocument">
                                    <div class="check-item-type">
                                        <label>
                                            <input type="checkbox">
                                            文档
                                        </label>
                                        <span class="caret"></span>
                                    </div>
                                    <div class="check-items">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1">
                                                个人文档
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="fifty-fifty clearfix" id="privilege_transfer_person" style="margin-top:-10px;margin-bottom: -15px;display: none">-->
                        <!--<div class="chosebox fifty-fifty-vertical">-->
                            <!--<div class="ztree over-y">-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<div class="operateBar clearfix"><label class="clickable pull-left"><input type="checkbox">包含下级</label>-->
                                <!--</div>-->
                                <!--<div class="personList over-y"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="chosenbox" style="border-right: none">-->
                            <!--<div class="chosen-count">已选:<span class="badge badge-success">0</span></div>-->
                            <!--<ul class="chosens"></ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer fifty-fifty">
                <a class="btn btn-transparency btn-lg" data-dismiss="modal" id="privilege_transfer_cancel">取消</a>
                <a class="btn btn-transparency btn-lg" id="privilege_transfer_submit">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- 弹出层 结束 -->

<!-- 页面内容 结束 -->
<script src="../../Scripts/SystemSetting/privilegeManage.js"></script>
<!-- 本页调用的JS 结束 -->
