<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TargetNavigationRedisEntities" connectionString="localhost:6379"/>
    <add name="TargetNavigationDBEntities" connectionString="metadata=res://*/TargetNavigationDB.csdl|res://*/TargetNavigationDB.ssdl|res://*/TargetNavigationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=TargetNavigationDBV1.2;user id=sa;password=sa8888;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings file="appSettings.config">
    <add key="Connection" value="Data Source=localhost\sqlexpress;initial catalog=TargetNavigationDBV1.2;Integrated Security=True;" />
    <!--分页每页条数-->
    <add key="pageNum" value="2"/>
    <!-- ↓↓↓上传文件路径↓↓↓ -->
    <add key="NewsUpLoadPath" value="NewsImage" />
    <add key="DocumentUpLoadPath" value="E:\UpLoad\Document" />
    <add key="PlanUpLoadPath" value="E:\UpLoad\Plan" />
    <add key="MineUpLoadPath" value="E:\UpLoad\Mine" />
    <add key="HeadImageUpLoadPath" value="HeadImage" />
    <add key="IMUploadPath" value="E:\UpLoad\IM" />
    <!-- ↑↑↑上传文件路径↑↑↑ -->
  </appSettings>
  
</configuration>