<link rel="stylesheet" href="~/Libs/clockpicker/bootstrap-clockpicker.min.css">
@*<link href="~/Styles/plan/addPlan.css" rel="stylesheet" />*@
<link href="~/Styles/Meet/meeting.css" rel="stylesheet" />

<div class="row">
        <div id="appointContainer" class="col-xs-9 appointCommon">
            <div class="panel panel-default" style="margin-bottom: 0">
                <div class="panel-heading object">
                    <div class="panel-title">
                        <ul class="nav" >
                            <li class="col-xs-4">我的预约</li>
                            <li class="col-xs-2 col-xs-offset-6 addNewPoint"><a href="#" class="newAppoint" data-toggle="modal">新增</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="panel-body appointBody">
                    <div class="row" id="appointContent">
                        <!--我的目标-->
                        <div class="row"  id="appointCondition">
                            <div class="timeCondition">
                                <label for="">时间:</label><input type="text" class="select-time laydate-icon" id="startCondition" />-<input type="text" class="select-time laydate-icon" id="endCondition" />
                                <button class="confirmCondition">确定</button>
                            </div>
                            <div class="timeCondition">
                                <label for="" class="typeLeft">类型:</label>
                                <div class="checkType">
                                    <button sid="0" class="btnSelected">全部</button>
                                    <button sid="1">未进行</button>
                                    <button sid="2">已完成</button>
                                </div>
                            </div>
                         @*   <div class="timeCondition">
                                <button class="confirmCondition">确定</button>
                            </div>*@
                            <input type="hidden" id="typeSelected" value="0"/>
                        </div>
                        <div class="row myList">

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="meetingSidebar" class="col-xs-3">
            <button class="addMeeting meetingCommon">新建会议</button>  
            @Html.Partial("~/Views/Shared/_UserInfo.cshtml")   
        </div>
    </div>

<!--弹出层  开始-->
<div class="modal fade" id="meeting_modal"  tabindex="-1" role="dialog" aria-labelledby="department_modal_label" aria-hidden="true"  data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="meeting_modal_label">预约</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="room" class="roomHidden"/>
                <div class="row">
                    <div class="col-xs-2 intro_head">
                        会议室:
                    </div>
                    <div class="col-xs-10 nameSelect">
                        <div class="downName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </div>
                        <i class="fa fa-chevron-down"></i>
                        <ul class="dropdown-menu roomSelect">

                        </ul>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-2 intro_head">
                        开始时间:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="select-time laydate-icon" id="startDateMeet" />
                        <span style="float:left">-</span>
                        <!--<input type="text" class="select-clock"/><button class="clockIcon"><i class="fa fa-clock-o"></i></button>-->
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2 intro_head">
                        结束时间:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="select-time laydate-icon" id="endDateMeet" readonly=true />
                        <span style="float:left">-</span>
                        <!--<input type="text" class="select-clock"/><button class="clockIcon"><i class="fa fa-clock-o"></i></button>-->
                        <div class="input-group clockpickerTwo" data-autoclose="true">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 intro_head">
                        主讲人员:
                    </div>
                    <div class="col-xs-10 memberRoom">
                        <div class="plusMain" type="1">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="memberList mainFirst">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 intro_head">
                        参加人员:
                    </div>
                    <div class="col-xs-10 memberRoom">
                        <div class="plusMain" type="2">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="memberList mainSecond">

                        </div>
                    </div>
                </div>
                 <div class="row">
                     <div class="col-xs-2 intro_head">
                        上传文档:
                    </div>
                    <div class="col-xs-10 memberRoom">
                        <div class="uploadButton">上传 <input id="fileuploadAppoint" type="file" name="files[]" multiple/></div>
                    </div>
                     <div class="col-xs-10 col-xs-offset-2 fileList">
                         <ul>
                            
                         </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 intro_head">
                        预约事项:
                    </div>
                    <div class="col-xs-12 appEvent">
                        <textarea name="" id="contentMeet" cols="30" rows="2" maxlength="50"></textarea>
                    </div>
                </div>
               <div class="appointSee">
                   预约情况
               </div>
            </div>
            <div class="modal-footer fifty-fifty">
                <a id="department_modal_cancel" class="btn btn-transparency btn-lg" data-dismiss="modal">取消</a>
                <a class="btn btn-transparency btn-lg" id="meeting_modal_submit">确定</a>
            </div>
        </div>
    </div>
</div>

<!--取消预约弹窗-->
<div class="modal fade" id="appoint_modal"  tabindex="-1" role="dialog" aria-labelledby="department_modal_label" aria-hidden="true"  data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="appoint_modal_label">取消预约</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2">时间段:</div>
                    <div class="col-xs-10 appointTime">
                        <span></span>
                        <span>-</span>
                        <span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">预约事项:</div>
                    <div class="col-xs-10 appointContent"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2">主讲人:</div>
                    <div class="col-xs-10 appointMain"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2">参加人员:</div>
                    <div class="col-xs-10 appointAttend"></div>
                </div>
              
            </div>
            <input type="hidden" class="appointId"/>
            <div class="modal-footer fifty-fifty">
                <a id="appoint_modal_cancel" class="btn btn-transparency btn-lg" data-dismiss="modal">退出</a>
                <a class="btn btn-transparency btn-lg" id="appoint_modal_submit">确定</a>
            </div>
        </div>
    </div>
</div>

<!--计划弹窗-->

<div class="modal fade" id="appPlan_modal"  tabindex="-1" role="dialog" aria-labelledby="department_modal_label" aria-hidden="true"  data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="appPlan_modal_label">生成计划</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                </div>
            </div>
            <input type="hidden" class="planId"/>
            <div class="modal-footer fifty-fifty">
                <a id="appPlan_modal_cancel" class="btn btn-transparency btn-lg" data-dismiss="modal">取消</a>
                <a class="btn btn-transparency btn-lg addPlan" id="appPlan_modal_submit">新建计划</a>
            </div>
        </div>
    </div>
</div>

 @Html.Partial("~/Views/BuildNewPlan/_buildNewPlan.cshtml")





<!--弹出层  结束-->
<script src="../../Libs/clockpicker/bootstrap-clockpicker.min.js"></script>
<script src="~/Scripts/Meet/MyAppoint.js"></script>
<script src="~/Scripts/Meet/newAppoint.js"></script>
