<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="copy_modal_label">复制</h4>
</div>
<div class="chosenbox">
    <span class="chosen-count">已选分类：</span>
    <span class="badge badge-success" id="copy_modal_chosen_count">0</span>
    <ul class="chosens" id="copy_modal_chosen">
    </ul>
</div>
<div class="input-group" id="copy_modal_search">
    <span style="float: left; display: inline-block">复制到：</span>
    <input type="text" class="form-control" placeholder="选择表单类型" aria-describedby="basic-addon2" id="copy_select">
    <span class="input-group-btn">
        <a class="btn btn-default" type="a"><span class="glyphicon glyphicon-search"></span></a>
    </span>
</div>

<div class="fifty-fifty chosebox clearfix">
    <div class="ztree" id="copy_modal_folder"></div>

</div>
<div class="modal-footer fifty-fifty">
    <a class="btn btn-transparency btn-lg" data-dismiss="modal">取消</a>
    <a class="btn btn-transparency btn-lg" id="copy_modal_submit">确定</a>
</div>
