<!-- 本页所需的样式 开始 -->
<link rel="stylesheet" href="../../Styles/date/dateManage.css"/>
<!-- 本页所需的样式 结束 -->

<!-- 页面内容 开始 -->

<div class="row">
    <div id="dateContainer" class="col-xs-12">
        <div class="panel panel-default" style="margin-bottom: 0">
            <div class="panel-heading">
                <div class="panel-title">节假日信息</div>
            </div>
            <div class="panel-body pos-r">
                <div class="container-fluid">
                    <span class="color-block" style="background-color: #cbbe96"></span>周末
                    <span class="color-block" style="background-color: #ff0704"></span>假期
                    <span class="color-block" style="background-color: #58b557"></span>补班
                </div>
                <div id="thisYear" style="text-align: center"></div>
                <div id="dateSetting" class="container-fluid">
                </div>
                <div class="yearSelector lastYear"></div>
                <div class="yearSelector nextYear"></div>

            </div>

        </div>
    </div>
</div>
<a type="button" class="btn btn-warning" id="saveDateSetting">保存</a>

<!-- 弹出层 开始 -->

<!-- 弹出层 结束 -->

<!-- 页面内容 结束 -->
<script src="../../Scripts/date/dateManage.js"></script>
<!-- 本页调用的JS 结束 -->