<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="TargetNavigationDBEntities" connectionString="metadata=res://*/TargetNavigationDB.csdl|res://*/TargetNavigationDB.ssdl|res://*/TargetNavigationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIANG-PC;initial catalog=TargetNavigationDBV1.3Test;user id=sa;password=sa8888;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>