<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MB.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <clear />
    <add key="ipAddress" value="10.10.10.2"/>
    <add key="port" value="6987" />
    <add key="cookieUrl" value="http://10.10.10.2:78"/>
    <add key="clientUpdateUrl" value="http://10.10.10.2:78/download/publish.htm"/>
    <add key="cookieExpires" value="Sun,22-Feb-2099 00:00:00 GMT"/>
    <add key="showTime" value="500" />
    <add key="holdTime" value="300000" />
    <add key="hideTime" value="1000" />
    <add key="titleClickable" value="false" />
    <add key="contentClickable" value="true" />
    <add key="closeClickAble" value="true" />
    <add key="showLucencyArea" value="true" />
    <add key="mouseOverable" value="true" />
    <add key="mouseReOver" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
    <userSettings>
        <MB.Client.Properties.Settings>
            <setting name="remindTime" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loginEx" serializeAs="String">
                <value>1</value>
            </setting>
        </MB.Client.Properties.Settings>
    </userSettings>
  <log4net>
    <!-- RollingFileAppender looks after rolling over files by size or date -->
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="C:\log\noticeTestError.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="(yyyyMMdd)" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time: %d Place：%logger %n Thread: [%t] LogLevel：%-5p Description：%m%n" />
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="C:\log\noticeTestInfo.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="(yyyyMMdd)" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time: %d Place：%logger %n Thread: [%t] LogLevel：%-5p Description：%m%n" />
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <File value="C:\log\noticeTestDebug.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="(yyyyMMdd)" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time: %d Place：%logger %n Thread: [%t] LogLevel：%-5p Description：%m%n" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="debugAppender" />
    </root>
    <logger name="debugLog" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="debugAppender" />
    </logger>
    <logger name="errorLog" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="errorAppender" />
    </logger>
  </log4net>
</configuration>