@{
    ViewBag.Title = "_EditUserInfo";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="personal_modal_label">个人资料设置</h4>
</div>
<div class="modal-row">
    <div class="dis-table">
        <div class="dis-cell x140">
            <img src="../../Images/common/portrait.png" class="img-circle img-thumbnail" id="UserImg">
            <div class="text-center">
                <a class="text-striking">@(Html.ActionLink("修改头像", "Index", "UserHead", null, new { style = "color:#fbac0f;" }))</a>
            </div>
        </div>
        <div class="dis-cell">
            <ul class="list-group bottom-line" style="margin-left: 20px">
                <li class="list-group-item">姓名: <span id="userName"></span></li>
                <li class="list-group-item">职位: <span id="station"></span></li>
                <li class="list-group-item">联系电话: <span id="userPhone"></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-row title">
    自定义设置
                <span class="pull-right">
                    <span class="glyphicon glyphicon-pencil clickable" id="personal_modal_custom_btn_edit"></span>
                </span>
</div>
<div class="modal-row">
    <div class="set-group">
        <div class="set-label">每页条数：</div>
        <div class="set">
            <input type="text" class="short" id="personal_modal_countPerPage" readonly>
            条
        </div>
        <div class="set-label">消息提示时间：</div>
        <div class="set">
            <input type="text" class="short" id="personal_modal_promptingTime" readonly>
            分钟
        </div>
    </div>
</div>
<div class="modal-row title">
    密码修改
                <span class="pull-right">
                    <span class="glyphicon glyphicon-pencil clickable" id="personal_possword_pwd_btn_edit" ></span>
                       <span class="cancel" style="float: right;display:none;margin-left: 10px;">取消</span>
                </span>
     

</div>
<div class="modal-row">
    <div class="set-group">
        <div class="set-label">当前密码：</div>
        <div class="set">
            <input type="password" id="personal_modal_currentPwd" readonly>
        </div>
        <div class="set-label">新密码：</div>
        <div class="set">
            <input type="password" id="personal_modal_newPwd" readonly>
        </div>
        <div class="set-label">确认密码：</div>
        <div class="set">
            <input type="password" id="personal_modal_confirmPwd" readonly>
        </div>
    </div> 



</div>
