@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>目标导航-系统错误</title>
    <link href="~/Styles/CommonStyle.css" rel="stylesheet" />
    <style>
        div
        {
            width: 600px;
            height: 153px;
            margin: 200px auto 0;
        }

        img
        {
            float: left;
        }

        span
        {
            float: left;
            width: auto;
            height: 153px;
            line-height: 20px;
            margin: 50px 0 0 20px;
            font-size: 16px;
            color: #373737;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/Images/SysErrorImages/systemError.png" width="190" height="153" />
        <span>抱歉，由于系统的原因，您暂时无法使用<br />
            您可以和管理员联系试试
        </span>
    </div>
</body>
</html>
