 
@model MB.Model.UserInfo
@{
    // Layout = "UserLogin";
    
}
<!DOCTYPE html>
@{
    
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Libs/jQuery/jquery-1.11.2.js"></script>
    <link href="~/Styles/CommonStyle.css" rel="stylesheet" />
    <link href="~/Styles/LoginStyle.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
      <div class="allthing">
        <div class="login">
            <div class="loginContain"> 
                        <div class="logo"></div>
                     @*       <div class="wrongMessage" style="display:">
                                <div id="wrongMsgLogin" runat="server">
                                    <img src="Images/loginImages/wrongLeft.png" width="4" height="47" />
                                    <div class="wrongMessageDiv">
                                        <img style="margin:12px 0 0 9px;" src="Images/loginImages/wrongHeader.png" width="20" height="20" />
                                        <span style="margin:12px 0 0 13px;">
                                            <asp:Literal ID="litMessage" runat="server" ></asp:Literal>
                                        </span>
                                        <img class="wrongClose" style="margin:18px 0 0 13px;" src="Images/loginImages/wrongClose.png" width="7" height="8" />
                                    </div>
                                    <img src="Images/loginImages/wrongRight.png" width="4" height="47" />
                                    <img style="position:absolute; top:43px; left:161px;" src="Images/loginImages/wrongArrow.png" width="16" height="8" />
                                </div>
                            </div> *@
                            <div class="inputs">
                                <ul>
                                    <li>
                                        <span>
                                            <img src="Images/loginImages/username.png" width="32" height="32" />
                                        </span>
                                        <em>
                                            <label for="txtUser"></label> 
                                            <input type="text" id="LoginName" maxlength="20" placeholder="请输入用户名" />
                                        </em>
                                    </li>
                                    <li style="margin-top :18px;">
                                        <span>
                                            <img src="Images/loginImages/password.png" width="24" height="32" />
                                        </span>
                                        <em>
                                            <label for="txtPassword"></label> 
                                            <input type="password" id="LoginPassword" maxlength="20" placeholder="请输入密码" />
                                        </em>
                                    </li> 
                               
                                   <li style=" margin-top:18px; " id="ValidateCode" >
                                        <span >
                                            <img src="Images/loginImages/validateCode.png" width="24" height="20" />
                                        </span>
                                        <em style="width:149px;">
                                            <input runat="server" id="txtValidate" style="width:110px;" autocomplete="off" placeholder="请输入验证码" />
                                        </em>
                                        <i> 
                                           <img src="/ValidateCode/CheckCode?ID=1" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()"  />
                                        </i>
                                   
                                    </li>
                                </ul>
                            </div>
                            <div class="buts">
                                <img class="butLeft" src="Images/loginImages/buttonLeft.png" width="4" height="47" />
                                <a  href="javascript:void(0)" onclick="Login()">登&nbsp;录</a>
                                <img class="butRight" src="Images/loginImages/buttonRight.png" width="4" height="47" />
                            </div>
                                
                            <div class="experience">
                                <a>体验目标导航</a>
                            </div> 
            </div>
            <div style=" text-align:center; margin-top:50px; color:#fff; font-size:14px;">
                目前此版本暂时只支持IE8、Chrome浏览器，<a href="ChromeStandaloneSetup.1418195695.exe" target="_blank"><font color="white">点此下载</font></a>
            </div>
        </div> 
    </div>
    <div class="theme">
    </div>
    <div class="bottom">
    </div>
       
</body>
</html> 
<script>
    function Login() {
        var userName = $("#LoginName").val();
        var pass = $("#LoginPassword").val(); 
        $.post("/Login/UserLogin", { userId: userName, userPass: pass }, function (msg) {
            if (msg == "ok") {
                window.location.href = "/User/UserIndex";
            }
        })
    }
    function ClickRemoveChangeCode() {
        var code = $("#imgCode").attr("src");
        $("#imgCode").attr("src", code + "1");
    }
</script>
  <script>
      $('.wrongClose').hover(function () {
          $(this).attr({ 'src': 'Images/loginImages/wrongCloseHit.png' });
      }, function () {
          $(this).attr({ 'src': 'Images/loginImages/wrongClose.png' });
      });
      $('.refresh').hover(function () {
          $(this).attr({ 'src': 'Images/loginImages/refreshHit.png' });
      }, function () {
          $(this).attr({ 'src': 'Images/loginImages/refresh.png' });
      });
      $('.buts').hover(function () {
          $('.butLeft').attr({ 'src': 'Images/loginImages/buttonLeftHit.png' });
          $('a', this).css({ 'background-image': 'url(images/loginImages/buttonMidHit.png)' });
          $('.butRight').attr({ 'src': 'Images/loginImages/buttonRightHit.png' });
      }, function () {
          $('.butLeft').attr({ 'src': 'Images/loginImages/buttonLeft.png' });
          $('a', this).css({ 'background-image': 'url(images/loginImages/buttonMid.png)' });
          $('.butRight').attr({ 'src': 'Images/loginImages/buttonRight.png' });
      });
    </script>
