<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="suggestion_modal_label">签字意见</h4>
</div>
<div class="" id="suggestion_modal_search">
    <span>我只是写意见，不会办结流程哦</span>
    <span>
        <textarea class="idea_input" placeholder="写完意见，我仍在待办中......" id="idea_input"></textarea>
    </span>

</div>
<div class="modal-footer fifty-fifty">
    <a class="btn btn-transparency btn-lg" data-dismiss="modal" id="HR_cancel">取消</a>
    <a class="btn btn-transparency btn-lg" id="suggestion_modal_submit">确定</a>
</div>
