<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" id="log_modal_label">日志</h4>
</div>
<div class="chosebox department" style="height: 400px;overflow: auto;">
    <table class="table">
        
    </table>
</div>

<div class="modal-footer fifty-fifty">
     <a class="btn btn-transparency btn-lg" data-dismiss="modal">取消</a>
    <a class="btn btn-transparency btn-lg" id="log_modal_submit">确定</a>
</div>