<!--新建文件夹-->

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title" data-toggle="modal" id="newFile_modal_label">新建文件夹</h4>
</div>
<div class="modal-body newfile">
    <div class="input-file">
        <span class="group-laber">文件夹名称</span>
        <span class="inputBox"><input type="text" class="form-control "  maxlength="20"aria-describedby="basic-addon2" id="input_filename"></span>
    </div>
    <div class="input-file">
    <span class="group-laber" style="line-height:63px">文件夹描述</span>
        <textarea class="form-control"  maxlength="100" aria-describedby="basic-addon2" id="input_filedes" rows="2"></textarea>
    </div>
</div>
<div class="modal-footer fifty-fifty">
    <a class="btn btn-transparency btn-lg" data-dismiss="modal">取消</a>
    <a class="btn btn-transparency btn-lg" id="newfile_modal_submit">确定</a>
</div>