@{
    Layout = "~/Views/Shared/_TopView.cshtml";
}

@section Remark_CSS {
    <link href="../../Styles/chat/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="../../Styles/chat/chat.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../../Libs/jQuery-ui/css/jquery-ui.css">
}    <link href="../../Libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet"/>

<!-- 页面内容 开始 -->
<div id="chat" onselectstart="return false">
    <div class="smallSize">
        <span class="fa fa-ban" style="cursor:pointer;"></span>
    </div>
    <div class="icon" id="personal_info">
        <img class="img-thumbnail img-circle x64 personal_info_portrait" src="" alt=""/>
        <div class="user" style="padding-left:5px">
            <div class="name"><span class="personal_info_name"></span><span class="personal_info_id" style="display:none"></span></div>
            <div class="position"><small class="personal_info_job"></small></div>
        </div>
    </div>
    <div class="search">
        <input type="text" placeholder="搜索" id="searchInput" />
        <button>
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <button style="border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;position: absolute;right: 0px;" class="showAdd">
            <span class="fa fa-angle-down" style="font-size: 16px;"></span>
        </button>
        <div class="searchPerson hide">
            <div class="tell">
                选择联系人
            </div>
       @*     <div class="selectInput">
                <input type="text" name="name" value="" id="choose" />
            </div>*@
            <ul>

            </ul>
        </div>
    </div>
    <div class="newAdd hide">
        <a href="javascript:;" class="addNum">添加联系人员</a>
        <a href="javascript:;" class="addNum">新建群组</a>
        @*<a href="javascript:;" class="addNum">新建临时群组</a>*@
    </div>
    <ul class="relation">
        <li class="person pClick" idenfiy="person">
            @*<span class="fa fa-user" style="margin-left: 5px;"></span>*@
            <img class="iconPicture" src="/Images/chat/me.png" />
            <img class="iconHide hide" src="/Images/chat/meHit.png" />
            <span style="margin-left: 5px;">常用联系人</span>
            <span class="last"></span>
        </li>
        <li class="person pClick" idenfiy="group">
            @*<span class="fa fa-users" style="margin-left: 5px;"></span>*@
            <img class="iconPicture" src="/Images/chat/group.png" />
            <img class="iconHide hide" src="/Images/chat/groupHit.png" />
            <span style="margin-left: 5px;">群组</span>
            <span class="last"></span>
        </li>
        <li class="person single"  idenfiy="temp">
            <div class="wrapGroup">
                @*<span class="fa fa-user-times" style="margin-left: 5px;"></span>*@
               <img class="iconPicture" src="/Images/chat/org.png" />
                <img class="iconHide hide" src="/Images/chat/orgHit.png" />
                <span style="margin-left: 5px;">组织架构</span>
                <span class="last"></span>
             </div</li>
        <li class="person pClick"  idenfiy="none">
            @*<span class="fa fa-clock-o" style="margin-left: 5px;"></span>*@
            <img class="iconPicture" src="/Images/chat/last.png" />
            <img class="iconHide hide" src="/Images/chat/lastHit.png" />
            <span style="margin-left: 5px;">最近会话</span>
            <span class="last"></span>
        </li>
     @*   <li class="person pClick"  idenfiy="none">
            <span class="fa fa-folder-open" style="margin-left: 5px;"></span>
            <span style="margin-left: 5px;">文档管理</span>
            <span class="last">12</span>
        </li>*@
        <!--<li class="person">-->
            <!--<span class="fa fa-list-ul" style="margin-left: 5px;"></span>-->
        <!--</li>-->
    </ul>
    <div class="chatBottom">
        <span class="fa fa-volume-up systemNote" style="margin-left: 5px;"></span><span class="countAll"></span>
    </div>
</div>
<div class="wrapSpeak hide module" id="drag">
    <div class="speakGroup hide">
        <div class="groupTop">
            群组成员:
            <span class="fa fa-plus addTo"></span>
        </div>
        <div class="groupList">
            <ul>

            </ul>
        </div>
    </div>
    <div class="speak">
        <div class="top">
            <img src="#" alt="" />
            <span class="speakName"></span>
            <span class="showHistory fa fa-commenting" style="margin-right: 4px;"></span>
            <span class="showGroup fa fa-user" style="margin-right: 4px;"></span>
            <span class="closeTalk glyphicon glyphicon-remove" style="margin-right: 10px;"></span>
        </div>
        <div class="content contentTo">
            <ul class="list">
            </ul>
        </div>
        <div class="bottom">
            <div class="bottom-left">
                <div class="left-top">
                    <div style="margin-left: 4px;"><span class="emotion fa fa-smile-o"></span></div>    
                    <div style="margin-left: 4px;"><span class="sendImg fa fa-file-picture-o"></span> <input id="fileuploadImg" type="file" name="files[]" multiple/></div>
                    <div style="margin-left: 4px;"><span class="sendFile fa fa-link"></span><input id="fileuploadFile" type="file" name="files[]" multiple/></div>
                </div>
                <div class="left-bottom">
                    <div contenteditable="true" id="temp" class="div"></div>
                </div>
            </div>
            <div class="bottom-right">
                <button class="say">
                    发送
                </button>
            </div>
        </div>
    </div>
    <div class="speakHistory hide">
        <div class="historyTop">
            <span>历史消息</span><span class="closeHistory glyphicon glyphicon-remove"></span>
        </div>
        <div class="historyBody" id="domMouse">
            <div class="noMore">

            </div>  
            <div class="timeDate">

            </div>
            <ul>

            </ul>
        </div>
        <div class="historyFoot">
            <input style="margin-left: 7px;" type="text" class="select-time laydate-icon" id="historyDate" />
            <span style="margin-left: 5px;" class="glyphicon glyphicon-trash"></span><span style="cursor:pointer">删除</span> <span style="margin-left: 5px;" class="glyphicon glyphicon-search"></span><span pan style="cursor:pointer" class="searchOpen">搜索</span>
            <div class="searchDiv hide"> 
                <span style="margin-left:5px;">内容:</span>
                <input  style="margin-left:5px;" type="text" name="name" value="" />
                <span  style="margin-left:15px;" class="glyphicon glyphicon-search"></span>
                <a href="javascript:;"  style="margin-left:2px;">确定</a>
            </div>

    </div>
</div>
</div>


<div class="msg hide">
    <span class="fa fa fa-commenting"></span>
</div>
<div style="display:none">
    <span id="userId">@Session["userId"].ToString()</span>
    <span id="filePath">@System.Configuration.ConfigurationManager.AppSettings["IMUploadPath"].ToString()</span>
</div>


@section Remark_JS {
    <script src="../../Scripts/chat/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../Scripts/chat/jquery.qqFace.js"></script>
    <script src="../../Libs/jQuery-ui/jquery-ui.js" type="text/javascript"></script>
    <script src="../../Libs/jquery-cookie/jquery.cookie.js"></script>
    <script src="../../Scripts/chat/chat.js"></script>
    <script src="../../Libs/jquery-mousewheel/jquery.mousewheel.js"></script>
     <script src="../../Libs/perfect-scrollbar/perfect-scrollbar.js"></script>
}
